@import url('../../css/reset.css');
@import url('../../css/fonts.css');
@import url('../../css/default.css');
@import url('../../css/header.css');
@import url('../../css/topic_section.css');
@import url('videoplayer.css');
@import url('../../css/footer.css');